.dialogues {
  position: absolute;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;

  &__message-wrapper {
    width: 100%;
    display: flex;
    margin: 5px 0;
    justify-content: flex-start;

    &_me {
      justify-content: flex-start;

      .message {
        background: var(--color-background-message);
      }
    }
  }

  &__avatar {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background: var(--color-empty-avatar-light);
    margin-right: 10px;
    overflow: hidden;
  }

  &__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.message {
  text-align: left;
  background: var(--color-background-chat);
  box-sizing: border-box;
  padding: 5px 11px;
  max-width: 40%;
  width: fit-content;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  flex-direction: column;
  align-self: end;
  word-break: break-all;
  border-radius: 0 12px 12px 12px;

  &__name {
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__info {
    align-self: end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: baseline;
    width: 38px;
    height: 9px;
    margin-top: 5px;
  }

  &__status {
    width: 9px;
    height: 5px;

    &_sending{
      background: url("../../../../assets/images/sending-status.svg") no-repeat center;
    }

    &_sent{
      background: url("../../../../assets/images/status-sent.svg") no-repeat center;
    }
  }

  &__time {
    margin: 0 0 0 5px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 9px;
    line-height: 9px;
    color: var(--color-text-time);
  }

  &__date {
    text-align: center;
    margin: 10px 0;
    font-size: 12px;
    color: var(--color-text-primary)
  }
}
