.main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  &__page-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
  }

  &__icon-menu {
    position: fixed;
    top: 25px;
    left: 15px;
    width: 26px;
    height: 18px;
    background: url("../../../assets/images/menu.svg") no-repeat;
    cursor: pointer;
  }

  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(101, 101, 101, 0.5);
    visibility: hidden;
  }
}


