.chat-list {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 311px;
  height: 100%;
  background: var(--color-background-chat);
  border-right: 1px solid var(--color-border-primary);
  display: flex;
  flex-direction: column;


  &__header {
    margin: 8px;
    display: flex;
    justify-content: space-between;
  }

  &__search {
    border: none;
    background: var(--color-background-custom-input);
    border-radius: 5px;
    font-size: 14px;
    padding: 8px;
    width: 100%;
    margin-left: 47px;

    &:focus {
      outline: none;
    }
  }

  &__available-chats {
    flex-grow: 1;
    overflow: auto;
    font-size: 12px;
    color: var(--color-text-primary);
  }
}
