.snackbar {
  box-sizing: border-box;
  top: 20px;
  text-align: center;
  left: calc(50% - 150px);
  width: 300px;
  position: absolute;
  padding: 15px;
  border-radius: 12px;
  background: var(--snackbar-error);
  color: var(--color-text-snackbar-error);

  &_success {
    background: var(--snackbar-success);
    color: var(--color-text-snackbar-success);
  }

  &_error {
    background: var(--snackbar-error);
    color: var(--color-text-snackbar-error);
  }
}
