.new-chat-modal {
  position: absolute;
  top: calc(50% - 115px);
  left: calc(50% - 170px);
  width: 340px;
  height: 230px;
  border-radius: 12px;
  background: var(--color-background-modal);
  z-index: 3;
  box-sizing: border-box;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  &__buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__header {
    font-size: 26px;
    margin-bottom: 27px;
    color: var(--color-text-chat-name)
  }

  &__input > input {
    width: 100%;
    border-color: var(--color-border-primary);
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(3px);
}
