.chat-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/chat-background.avif");
  background-size: cover;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    & > div:first-child {
      height: 100%;
    }

    & > div:last-child {
      height: 100%;
    }
  }
}
