.ui-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;

  &_invalid {
    .ui-input__input_error{
      color: var(--color-text-error);
      margin-bottom: 0;
    }

    .ui-input__error {
      height: 8px;
      font-size: 10px;
      margin: 4px 0;
      color: var(--color-text-error);
      display: block;
    }
  }

  &__label {
    margin-bottom: 6px;
    font-size: 10px;
    color: var(--color-text-primary);
  }

  &__input {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--color-border-default);
    width: 335px;
    flex-shrink: 0;
    padding: 0;
    margin-bottom: 16px;

    &:focus {
      outline: none;
      box-shadow: var(--shadow-primary)
    }
  }

  &__error {
    display: none;
  }

  &__profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 510px;
    border-bottom: 1px solid var(--color-border-default);
    padding-bottom: 5px;
    margin-bottom: 10px;

    &_invalid {
      position: relative;

      &:after {
        content: '';
        width: 8px;
        height: 8px;
        background: #FF0000;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        right: -16px;
      }

      .ui-input__error {
        height: 8px;
        font-size: 10px;
        margin: 4px 0;
        color: var(--color-text-error);
        display: block;
        position: absolute;
        top: calc(100% - 6px);
        right: 0;
      }

      & > div > input {
        color: var(--color-text-error) !important;
      }
    }

    & > label {
      font-size: 13px !important;
      margin-bottom: 0;
      color: var(--color-text-default);
    }

    & > input {
      color: var(--color-text-default);
      margin-bottom: 0;
      text-align: right;
      border-bottom: none;
      width: 70%;

      &:focus {
        box-shadow: var(--shadow-primary);
      }

      &:disabled {
        color: var(--color-text-primary);
      }
    }
  }
}
