.ui-button {
  width: 276px;
  height: 37px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  background: var(--color-button);
  color: var(--color-text-secondary);
  cursor: pointer;

  &_s {
    width: 131px;
  }

  &_l {
    width: 336px;
  }

  &_m {
    width: 276px;
  }

  &:active {
    box-shadow: var(--shadow-primary);
  }
}
