.ui-button {
  background: var(--color-button-primary);
  border-radius: 8px;
  width: 276px;
  height: 37px;
  color: var(--color-text-secondary);
  border: none;
  cursor: pointer;
  font-size: 14px;

  &_s {
    width: 131px;
  }

  &_l {
    width: 336px;
  }

  &_m {
    width: 276px;
  }

  &_primary {
    background: var(--color-button-primary);
  }

  &_secondary {
    background: var(--color-button-secondary);
  }

  &:active {
    box-shadow: var(--shadow-primary);
  }
}
